body{
    margin-top: 130px;
}

#wholeDiv-border{
    
    border: 1px solid red;
    width: 95%;
    /* height: 900px; */
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,40%) 200px;
    grid-template-rows: 500px;
    grid-gap: 20px;
    /* padding: 30px; */
    /* justify-content: space-around; */
}
#wholeDiv-border>.wholeDiv{
    /* background-color: blue; */
    border: 1px solid blue;
    /* justify-content: center; */
}
.leftDiv{
    margin: auto;
    margin-top: 40px;
    background-color: white;
    height: 320px;
    width: 45%;
    
}
.topImageDiv{
    height: 100%;
    /* padding: 10px 55px;  */
    width: 100%;
    justify-content: center;
}
#topImage{
    /* padding-left: 45px ; */
    height: 100%;
}
.bottomImageDiv{
    /* border: 1px solid red; */
    width: 100%;
    /* justify-content: center; */
    margin-left: 40px;
    margin-top: 20px;
}
.small-img-row{
    /* border: 1px dashed blue; */
    width: 80%;
    height: 60px;
    display: flex;
    justify-content: space-around;
}
.small-img-col{
    border: 1px solid #e1e1e1;
    border-radius: 3px;
    padding: 5px 5px;
    justify-content: space-between;
    flex-basis: 20%;
    cursor: pointer;
}
/* RIGHT DIV WORK */



    
    

    

    
    

    

